* {
    margin: 0px;
    padding: 0px;
}

.flex {
    display: flex;
}
.col_1 {
    flex-basis: 50%;
    margin: 200px 0px 0px 0px;
    text-align: right;
    
}
.col_2 {
    flex-basis: 50%;
}
.col_2 img {
    width: 380px;
    height: 340px;
    margin: 180px 0px 0px 0px;
}
#main_heading {
    text-align: left;
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    color: #444752;
    margin: 20px 0% 10px 41%;
}

.col_1 input:nth-child(1) {
    flex-basis: 30%;
    padding: 15px 0px 15px 10%;
    margin: 5px 0% 5px 40%;
    
}
.col_1 input:nth-child(2) {
    flex-basis: 12.5%;
    padding: 8px 0px;
    background-color: #00A3FA;
    border: none;
    border-radius: 0px 5px 5px 0px;
    font-size: 16px;
    color: white;
    
}
.col_1 p {
    text-align: left;
    padding: 15px 0px 15px 45%;
    font-size: 16px;
    line-height: 22px;
    color: #656a72;
    font-weight: 400;
}

/* watch video section css */

.watch_video {
    width: 54%;
    margin: 10% 20%;
    padding: 35px 35px;
    background-color: #F3FAFF;
    border-radius: 3px;
}
.watch_video .text h3{
    font-size: 22px;
    line-height: 26px;
    font-weight: 700;
    color: #444752;
    padding: 10px 0px 20px 0px;
}
.watch_video .text p {
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    color: #656a72;
    padding: 0px 70px 20px 0px;
}

.watch_video div:nth-child(1) {
    flex-basis: 57%;
}
.watch_video div:nth-child(2) {
    flex-basis: 33%;
}
.how_it_works {
    width: 54%;
    margin: 3% 21%;
    /* padding: 35px 35px; */
    
}
.how_it_works div:nth-child(1) {
    flex-basis: 20%;
}
.how_it_works div:nth-child(1) img {
    width: 300px;
    height: 225px;
}
.how_it_works div:nth-child(2) {
    flex-basis: 30%;
}
.how_it_works div:nth-child(2) h4 {
    font-size: 16px;
    line-height: 22px;
    font-weight: 600;
    color: #444752;
    padding: 3px 0px;
}
.how_it_works div:nth-child(2) p {
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    color: #656a72;
    /* padding: 3px 0px; */
}

#how_r2 {
    margin-left: 23%;
}

.verti_grid h1{
    text-align: center;
}
.features_top h1 {
    text-align: center;
    padding: 40px 0px;
}
.features_top img {
    width: 780px;
    height: 210px;
}
.features_top {
    margin: 5% 20%;
}

.blocks {
    /* border: 1px solid red; */
    padding: 10px 22% 40px 0px;
}
/* #one {
    background-color: blue;
} */
#features_content {
    display: grid;
    grid-template: 'bx1 bx2 bx3'
    'bx4 bx5 bxr';
    width: 61.5%;
    margin: auto;

}
#features_content .one {
    grid-area: bx1;
}
#features_content .one {
    grid-area: bx2;
}
#features_content .one {
    grid-area: bx3;
}
#features_content .one {
    grid-area: bx4;
}
#features_content .one {
    grid-area: bx5;
}
#features_content .one {
    grid-area: bx6;
}
#features_content .icn_heading img{
    flex-basis: 6%;
    /* width: 0px; */
}
#features_content .icn_heading h1{
    flex-basis: 90%;
    font-size: 16px;
    line-height: 22px;
    width: 600;
    color: #444752;
    padding: 0px 0px 0px 10px;
}
.blocks p {
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    color: #656a72;
    padding: 10px 0% 10px 0px;
}
.features_section .feature_link p{
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    color: #08a9fa;
    text-align: center;
}
.features_section .feature_link a{
    text-decoration: none;
}

#traffic .calendar{
    width: 100%;
    margin: 0px 25%;
}

#traffic .heading {
    text-align: center;
    padding: 160px 20% 10px 20%;
}
#traffic .heading h1 {
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    color: #444752;
}
#traffic .heading p {
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    color: #444752;
    padding: 10px 0px;
}
#traffic .calendar {
    border: 1px solid #656a72;
    border-radius: 30px;
    width: 50%;
    height: 280px;
}
#traffic .calendar h1{
    font-size: 136px;
    font-weight: 600;
    line-height: 230px;
    color: #656a72;
    padding: 10px 0px;
    text-align: center;
    
}
#traffic .calendar p{
    font-size: 20px;
    font-weight: 700;
    line-height: 3px;
    color: #656a72;
    text-align: center;
    
}
#traffic .logo_list p{
    text-align: center;
    padding: 50px 0px;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    color: #656a72;
}

.logo_list .logos_img {
    margin: -3% 21%;
}
.logo_list .logos_img img {
    width: 150px;
    height: 100px;
    padding: 0px 3%;
}

